Flask[async]==2.3.2
requests==2.31.0
beautifulsoup4==4.12.2
urllib3==2.0.4
PyMuPDF==1.23.7
pandas==1.5.2
numpy==1.23.5
pdfplumber==0.7.6
Flask-SocketIO==5.3.6
python-engineio==4.7.0
python-socketio==5.9.0
Flask-Cors==4.0.0
eventlet==0.33.3